{% extends "layout.html" %}
{%block stylesheet%}
        <link href="/static/styles.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class = "review">
        <h6 class ="revname">ABOUT </h6>
        <p class= "revrating">an app made for learning purposes</p>
          <p  class = "rev">
             I am Zakaria Alboosh, I have created this as a Final project for Harvards online course CS50x

          </p>
          <p class = "revdate"><small >its just a little stupid beginner app</small> </p>
        </div>

{% endblock %}