{% extends "layout.html" %}
{%block stylesheet%}
        <link href="/static/styles.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if placeinfo%}
   <div>
 <!-- shop cafe logo or photo  -->    <img id="cafe-logo" src="/static/{{image}}" alt="Place Logo" height="auto" width="auto">
     </div>
        <div class = "review">
              <h4 class = "revname">{{placeinfo[0].shopname}}</h4>
            <p class = "revrating">{{placeinfo[0].address}} <small>Type:{{placeinfo[0].type}}</small> </p>
            <p  class = "rev">
               {{placeinfo[0].description}}
          </p>
          <p class = "revdate"><small>{{placeinfo[0].phone}}</small></p>
        </div>
 <!-- Loop in jinja to show posts from select query executed using db.execute -->
     {% if posts%}
   {% for post in posts%}

        <div class = "review">
        <h6 class ="revname">name: </h6><h4  class ="revuser">{{post.username}}</h4>
        <p class= "revrating">Rating: {{post.outoften}}/10</p>
          <p  class = "rev">
              {{post.review}}

          </p>
          <p class = "revdate"><small >{{post.time}}</small> </p>
        </div>

    {% endfor %}
    {%else%}
        <div class = "review">
            <p  class = "rev">
               there isn't any reviews, yet!
          </p>
        </div>
    {%endif%}
<!-- passing in shopname with form hidden because each shop has its own page and dont want it to be modified by user -->
     <form action="/submit-review" method="post">
  <div class="form-group">
      <input type="hidden" name="shopname" value= "{{placeinfo[0].shopname}}">
  </div>

  <!-- Review form includes rating from 10 and review text -->
  <div class="form-group">
    <label for="exampleFormControlSelect2">Rating out of 10</label>
    <select multiple name="outoften" class="form-control" id="exampleFormControlSelect2">
      <option value = "1" >1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
      <option value = "10">10</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea name = "review" class="form-control" id="exampleFormControlTextarea1"></textarea>
  </div>
    <button type="submit" class="btn btn-primary mb-2">publish review</button>
    {%else%}
        <div class = "review">
            <p  class = "rev">
             404  There in no such place or it wasn't added yet, SORRY! 404
        </div>
    {%endif%}
</form>


{% endblock %}